node_modules/
node_modules/@angular/animations/animations.d.ts
node_modules/@angular/animations/browser/browser.d.ts
node_modules/@angular/animations/browser/package.json
node_modules/@angular/animations/browser/testing/package.json
node_modules/@angular/animations/browser/testing/testing.d.ts
node_modules/@angular/animations/package.json
node_modules/@angular/common/common.d.ts
node_modules/@angular/common/http/http.d.ts
node_modules/@angular/common/http/package.json
node_modules/@angular/common/http/testing/package.json
node_modules/@angular/common/http/testing/testing.d.ts
node_modules/@angular/common/package.json
node_modules/@angular/common/testing/package.json
node_modules/@angular/common/testing/testing.d.ts
node_modules/@angular/compiler/testing/package.json
node_modules/@angular/compiler/testing/testing.d.ts
node_modules/@angular/core/core.d.ts
node_modules/@angular/core/package.json
node_modules/@angular/core/testing/package.json
node_modules/@angular/core/testing/testing.d.ts
node_modules/@angular/forms/forms.d.ts
node_modules/@angular/forms/package.json
node_modules/@angular/platform-browser-dynamic/package.json
node_modules/@angular/platform-browser-dynamic/platform-browser-dynamic.d.ts
node_modules/@angular/platform-browser-dynamic/testing/package.json
node_modules/@angular/platform-browser-dynamic/testing/testing.d.ts
node_modules/@angular/platform-browser/animations/animations.d.ts
node_modules/@angular/platform-browser/animations/package.json
node_modules/@angular/platform-browser/package.json
node_modules/@angular/platform-browser/platform-browser.d.ts
node_modules/@angular/platform-browser/testing/package.json
node_modules/@angular/platform-browser/testing/testing.d.ts
node_modules/@angular/router/package.json
node_modules/@angular/router/router.d.ts
node_modules/@angular/router/testing/package.json
node_modules/@angular/router/testing/testing.d.ts
node_modules/@angular/animations/animations.d.ts
